.s130 {
    min-height: 100vh;
    display: -ms-flexbox;

    -ms-flex-pack: center;
        justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: url("../../../assets/images/Searchs_130.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15px;
  }